<h1>Транзакции</h1>
<div style="height:500px;">
    <div class="col-sm-8" style="overflow:auto;">
        @{            
            double income = 0;
            double expense = 0;
            double balance = 0;
            double emergencyExpense = 0;
            double storageExpense = 0;
            double totalExpense = 0;
         }
        <p class="hidden">@foreach (var b in ViewBag.expenses)
        {
            storageExpense = storageExpense + b.Cost;
        }
        </p>
        @for (int index = Model.Count - 1; index >= 0; index--)
        {
            var b = Model[index];
            if (b.Operation == "Продажа")
            {
                <p class="hidden">@(income = income + b.Cost)</p>               
                <p>Транзакция №@b.Id <strong>Продажа</strong> продукта @b.Product.Name; <strong>Количество:</strong>@b.Quantity @b.Product.Unit <strong>Цена:</strong> @b.Product.Price руб. <strong>Доход</strong> = <span style="color:green">@b.Cost руб.</span></p>
            }
            else if (b.Operation == "Поступление")
            {
                <p class="hidden">@(expense = expense + b.Cost)</p>               
                <p>
                    Транзакция №@b.Id <strong>Поступление</strong> продукта @b.Product.Name; <strong>Количество:</strong>@b.Quantity @b.Product.Unit <strong>Цена:</strong> @(b.Product.Price * 0.8) руб. <strong>Расход</strong> = <span style="color:crimson">@b.Cost руб.</span>
                </p>
            }
            else
            {
                <p class="hidden">@(emergencyExpense = emergencyExpense + b.Cost)</p>               
                <p>
                    Транзакция №@b.Id <strong>Списание</strong> продукта @b.Product.Name; <strong>Количество:</strong>@b.Quantity @b.Product.Unit <strong>Закупочная цена:</strong> @(b.Product.Price * 0.8) руб. <strong>Убыток</strong> = <span style="color:crimson">@b.Cost руб.</span>
                </p>
            }
        }
        </div>
    <div class="col-sm-4">
        <table class="table">
            <tr>
                <th>Доход</th>
                <th>Расход</th>
                <th>В т.ч. списание</th>
                <th>В т.ч. хранение</th>
                <th>Прибыль</th>
            </tr>
            <tr>
                <td>@income руб.</td>
                <td>@(totalExpense = expense + emergencyExpense + storageExpense) руб.</td>
                <td>@emergencyExpense руб.</td>
                <td>@storageExpense руб.</td>
                <td>@(balance = income - totalExpense) руб.</td>
            </tr>
        </table>        
        <h3>Заполненность склада</h3>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: @Math.Round(ViewBag.quantity/10)%;" aria-valuenow="20" aria-valuemin="0" aria-valuemax="1000">@Math.Round(ViewBag.quantity / 10)%</div>
        </div>
    </div>
</div>
